#header_top {
  display: flex;
  position: relative;
  height: 40px;
  background-color: #000;
  

  .item_left {
    position: absolute;

    p {
      color: white;
    }
  }

  .item_right {
    position: absolute;
    right: 400px;
    justify-content: space-between;
    
    p {
      position: absolute;
      color: white;
      left: 50px;
      text-align: center;
      font-size: 20px;
      
    }
    .fa-search {
      position: absolute;
      color: #fff;
      text-align: center;
      top: 4px;
      font-size: 25px;
      left: 16px;
    }
    .fa-shopping-cart {
      position: absolute;
      color: #fff;
      left: 140px;
      top: 5px;
      font-size:25px ;
    }

    .login{
        position: absolute;
        color: #fff;
        left:180px;
    }
  }
}
